/* About */

.about {
    scroll-margin-top: 2rem;
    // margin-bottom: 120px; //60
    margin-bottom: clamp(3.75rem, 2.386rem + 6.82vw, 7.5rem);

    .title-h2 {
        margin-bottom: toRem(25);
    }

    .btn {
        margin-bottom: toRem(50);
    }

    &__description {
        margin-bottom: 50px;
        max-width: 700px;
        width: 100%;

        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.75;
        color: var(--darken);

        opacity: 0.9;
    }

    &__image {
        overflow: hidden;
        border-radius: 14px;

        img {
            display: block;
            width: 100%;
            object-fit: cover;
            &:hover {
                opacity: 0.9;
                transition: opacity 0.2s ease-in;
            }
        }
    }
}
