/* About */

.about {
    scroll-margin-top: 2rem;
    margin-bottom: rem-clamp(60, 120);

    .title-h2 {
        margin-bottom: rem(25);
    }

    .btn {
        margin-bottom: rem(50);
    }

    &__description {
        margin-bottom: rem-clamp(32, 50);
        max-width: rem(700);
        width: 100%;

        font-family: var(--font-family);
        font-weight: 500;
        font-size: rem-clamp(14, 16);
        line-height: 1.75;
        color: var(--darken);

        opacity: 0.9;
    }

    &__button {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: rem(20);

        margin-bottom: rem-clamp(32, 50);

        .btn {
            max-width: rem(260);
            width: 100%;
            padding: 0;
            margin: 0;

            &:last-child {
                font-weight: 600;
                color: var(--darken);
                background: transparent;
                line-height: rem-clamp(34, 54);
                border: 2px solid var(--e9b902);
            }
        }
    }

    &__image {
        border-radius: 14px;
    }
}
