/* Clients */

.clients {
    // margin-bottom: 120px; //60
    margin-bottom: clamp(3.75rem, 2.386rem + 6.82vw, 7.5rem);
}

.clients__item {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(36, 36, 36, 0.1);
    // max-width: 273px;
    // width: 100%;
    width: 273px;
    height: 273px;
}

//  slider
.slider-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.swiper {
    width: 100%;
}

.myslider-prev,
.myslider-next {
    position: absolute;
    top: -96px;
    // transform: translateY(-200%);
    z-index: 10;
    cursor: pointer;

    @include breakpoint(xsm) {
        display: none;
    }

    transition: opacity 0.2s ease-in, filter 0.2s ease-in;

    @media (hover: hover) {
        &:hover,
        &:focus {
            opacity: 0.75;
            filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.24));
        }
    }

    @media (hover: none) {
        &:active {
            -webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
            opacity: 0.75;
            filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.24));
        }
    }
}

.myslider-prev {
    right: 60px;
}

.myslider-next {
    right: 0px;
}

.swiper .swiper-pagination {
    display: none;
    @include breakpoint(xsm) {
        display: block;
    }
    bottom: 0px;
}

.swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}
