/* Features */

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: rem-clamp(18, 20);

    margin-top: rem(73);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: rem-clamp(60, 120);

    max-width: rem(1200);
    width: 100%;
    padding: rem(45) rem(50);

    border-radius: 10px;
    border: 1px solid rgba(36, 36, 36, 0.1);
    box-shadow: 0 11px 24px 0 rgba(59, 61, 78, 0.05);
    background: var(--lighten);

    &__item {
        // flex: 1 1 calc(25% - 20px);
        display: flex;
        align-items: center;
        @include breakpoint(base) {
            min-width: 230px;
        }
        gap: rem-clamp(20, 24);

        img {
            display: block;
            width: rem(45);
            height: rem(45);
        }
    }
}

.features__wrapper {
    position: relative;

    .features__title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: rem-clamp(20, 24);
        line-height: 1.2;
        text-align: left;
        color: var(--e9b902);
        user-select: none;
        span {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: rem-clamp(18, 20);
            line-height: 1.3;
            letter-spacing: 0.01em;
            text-align: center;
            color: var(--darken);
        }
    }

    .features__border {
        display: block;
        @include breakpoint(base) {
            display: none;
        }
        position: absolute;
        width: rem(100);
        height: 0;

        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%);
        transform: rotate(-90deg);

        border: 1px solid rgba(33, 33, 35, 0.2);
    }
}
