/* Footer */

.footer {
    scroll-margin-top: 2rem;
    padding: rem-clamp(26, 36) 0; // 35px 0;
    background-color: #27333e;
}

.footer__nav-inner {
    display: flex;

    @include breakpoint(lg) {
        flex-wrap: wrap;
        gap: rem-clamp(20, 24);
    }
    justify-content: space-between;
    align-items: center;
    padding: rem(12) 0 rem(10) 0;
    border-bottom: 1px solid rgba(218, 231, 242, 0.2);

    .footer__logo {
        display: flex;
        align-items: center;
        overflow: hidden;

        img {
            display: block;
            width: rem(116);
            height: 100%;
            object-fit: cover;
            // object-position: center;
            mix-blend-mode: soft-light;
            image-rendering: crisp-edges;
            // filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.4));
        }
    }

    .footer__list {
        display: flex;
        flex-wrap: wrap;
        gap: rem-clamp(24, 32);

        .footer__link {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: rem-clamp(14, 16);
            line-height: 1;
            color: #fff;
            text-transform: uppercase;

            transition: color 0.2s ease-in;

            &:hover {
                color: var(--second-color);
            }
        }
    }
}

.footer__contacts {
    display: flex;
    flex-wrap: wrap;
    gap: rem-clamp(20, 24);
    justify-content: space-between;
    align-items: center;
    padding: rem-clamp(20, 24) 0;
    border-bottom: 1px solid rgba(218, 231, 242, 0.2);

    .footer__contacts-wrapper {
        display: flex;
        align-items: center;
        gap: rem-clamp(32, 50);
        @include breakpoint(lg) {
            flex-wrap: wrap;
            gap: rem-clamp(20, 24);
        }
    }

    .footer__contact-label {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: rem-clamp(14, 16);
        line-height: 1.6;
        color: #fff;
        user-select: none;
    }

    .footer__contact-link,
    .footer__contact-address {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: rem-clamp(14, 16);
        line-height: 1.6;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #fff;
        cursor: pointer;

        &:hover {
            color: var(--second-color);
            transition: color 0.2s ease-in;
        }
    }

    .btn {
        padding: 0 rem(71);
    }
}

.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: rem(25) 0;
    user-select: none;

    a {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: rem(14);
        color: #fafafa;

        transition: color 0.2s ease-in;

        &:hover {
            color: var(--second-color);
        }
    }

    p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: rem(14);
        text-align: right;
        color: #fafafa;
    }
}

.socials__list {
    display: flex;
    align-items: center;
    gap: rem-clamp(14, 16);

    .socials__link {
        display: flex;
        align-items: center;
        width: rem(20);
        height: rem(20);

        .socials__icon {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.2s ease-in, fill 0.2s ease-in;
            fill: #888;
            &:hover {
                transform: scale(1.1);
                fill: darken(#888, 10%);
            }
        }
    }
}
