/* Header */

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    position: relative;
}

.header__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(12);
    padding-bottom: rem(12);
    gap: 1rem;
}

.header__contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem-clamp(16, 20);
    user-select: none;

    .header__phone {
        display: flex;
        align-items: center;
        gap: rem(10);

        a {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: rem(15);
            line-height: 1.67;
            color: #333;

            transition: color 0.3s ease-in;

            &:hover {
                color: var(--second-color);
            }
        }
    }

    .header__request-call {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: rem(13);
        line-height: 1.54;
        color: #333;

        transition: color 0.3s ease-in;

        &:hover {
            color: var(--second-color);
        }
    }
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: rem(24) 0;
    gap: rem-clamp(14, 16);

    .header__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: rem(116);
        // margin-right: auto;
        overflow: hidden;

        border-radius: 0.8rem;
        img {
            display: block;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .nav-menu__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: rem-clamp(20, 24);

        .nav-menu__link {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: rem(12);
            line-height: 1.58;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #333;

            display: block;
            position: relative;

            transition: color 0.3s ease-in;

            &:hover {
                color: var(--second-color);

                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: rem(1);
                left: 0;
                bottom: rem(-6);
                background: var(--second-color);
                transition: width 0.3s ease;
            }

            &::before {
                content: attr(data-title);
                white-space: nowrap;
            }
        }
    }

    .header__search {
        display: flex;
        align-items: center;
        gap: rem-clamp(24, 32);

        .svg-search {
            display: block;
            width: rem(16);
            aspect-ratio: 1;
            object-fit: cover;
            fill: #888;
            cursor: pointer;
            transition: fill 0.3s ease-in;
            &:hover {
                fill: #000;
            }
        }

        .btn {
            padding: 0 rem(21);
            font-size: rem(14);
            line-height: rem(41);
        }
    }
}

.nav-menu-btn {
    display: none;
}

@media (max-width: rem(1100)) {
    .nav-menu__item:nth-child(4) {
        display: none;
    }
}

@media (max-width: rem(900)) {
    .nav-menu__item:nth-child(5) {
        display: none;
    }
}

@media (max-width: rem(480)) {
    .header__search .btn {
        display: none;
    }
}

@media (max-width: rem(768)) {
    .nav-menu-btn {
        display: block;
        position: relative;
        z-index: 10;
        background: url("./../images/header/burger.svg") no-repeat center;
        width: rem(40);
        height: rem(40);
        cursor: pointer;
        @include no-tap-highlight;

        transition: 0.3s linear;
    }

    .nav-menu-btn.active {
        background: url("./../images/header/close.svg") no-repeat center;
    }

    .nav-menu {
        position: relative;
        // visibility: hidden;
        // opacity: 0;

        position: fixed;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));

        transition: opacity 0.3s ease-in, visibility 0.3s ease-in;

        .nav-menu__list {
            position: absolute;
            flex-direction: column;
            top: 50%;
            left: 50%;
            // transform: translate(-50%, -50%);
            transform: translate(-50%, -300%);

            max-width: rem(290);
            width: 100%;
            padding: rem-clamp(28, 40) 0;
            gap: 0;
            border-radius: rem(10);
            background: var(--modal-bg-color);

            will-change: transform;
            transition: transform 0.2s ease-in;

            .nav-menu__item {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: rem(14) 0;
                width: 86%;
                border-radius: rem(10);
                text-align: center;

                a {
                    font-size: 1rem;
                }

                &:hover {
                    background-color: #fff;
                }

                .nav-menu__link::before {
                    content: attr(data-title-wrap);
                    white-space: pre-line;
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: rem(10);
                left: rem(10);
                bottom: rem(10);
                right: rem(10);

                background: var(--bg-color);
                z-index: -1;
                border-radius: rem(10);
                border: 1px solid var(--e9b902);
            }

            &::before {
                content: "\1F6EB";
                position: absolute;
                font-size: 2rem;
                top: 1.2rem;
                right: -1rem;
                transform: translate(-50%, -50%);
                z-index: 12;
            }
        }
    }

    .nav-menu.active {
        visibility: visible;
        opacity: 1;
        z-index: 11;

        .nav-menu__list {
            opacity: 1;
            transform: translate(-50%, -60%);
        }
    }

    .nav-menu:not(.active) {
        visibility: hidden;
        opacity: 0;

        .nav-menu__list {
            opacity: 0;
        }
    }
}
