/* Hero */

.hero {
    width: 100%;
    position: relative;
    padding-bottom: rem-clamp(50, 73);

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        z-index: -1;
        img {
            display: block;
            max-width: 100%;
            width: 100%;
            height: rem-clamp(510, 600);
            object-fit: cover;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, #000 100%);
            transform: rotate(-180deg);
            opacity: 0.65;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem-clamp(21, 25);

        max-width: rem(580);
        width: 100%;
        padding-top: rem-clamp(32, 64);

        .hero__title {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: rem-clamp(34, 56);
            line-height: 1.18;
            color: #fbfbfd;
            user-select: none;
        }

        .hero__description {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: rem-clamp(15, 18);
            line-height: 1.56;
            color: #fbfbfd;
            margin-bottom: rem-clamp(21, 25);
            user-select: none;
        }
    }
}
