/* Import */

.import {
    scroll-margin-top: 2rem;
    margin-bottom: rem-clamp(60, 120);

    .title-h2 {
        margin-bottom: rem(28);
    }
}

.import__wrapper {
    display: flex;
    align-items: flex-start;
    @include breakpoint(md) {
        flex-wrap: wrap;
        justify-content: center;
    }

    gap: 1rem;
    margin-bottom: rem(50);
}

.import__dec {
    flex: 0 1 calc(50% - rem(8));
    height: rem(507);

    @include breakpoint(base) {
        height: unset;
    }

    @include breakpoint(md) {
        flex: 0 1 100%;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: rem(300);

    .import__inner {
        display: flex;
        flex-direction: column;

        // .import__description:not(:last-of-type) {
        .import__description {
            margin-bottom: 14px;

            font-family: var(--font-family);
            font-weight: 500;
            font-size: rem-clamp(14, 16);
            line-height: 1.75;
            color: #212123;
            opacity: 0.9;
        }
    }

    .btn {
        align-self: flex-start;

        @include breakpoint(md) {
            align-self: center;
            margin-bottom: rem(14);
        }
    }
}

.import__stats {
    flex: 0 1 calc(50% - rem(8));
    @include breakpoint(md) {
        flex: 0 1 100%;
        justify-content: center;
    }
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    gap: rem-clamp(18, 20); // 20px;

    .import__stat {
        display: flex;
        flex-direction: column;
        padding: rem(19) rem(24);

        border-radius: rem(14);
        max-width: rem(280);
        width: 100%;
        height: rem(240);

        background-color: var(--bg-overlay);
        cursor: pointer;

        &:first-of-type {
            // левый верхний
            clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%, 0% 10%);
            background-color: var(--e9b902);
            @include breakpoint(base) {
                clip-path: unset;
            }
        }

        &:nth-of-type(2) {
            // правый верхний
            clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 0% 100%);
            @include breakpoint(base) {
                clip-path: unset;
            }
        }

        &:last-of-type {
            // левый нижний
            clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 90%);
            @include breakpoint(base) {
                clip-path: unset;
            }
        }

        transition: opacity 0.2s ease-in, box-shadow 0.2s ease-in;

        &:hover {
            opacity: 0.8;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        }
    }
}

.import__stat-value {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: rem-clamp(24, 30); // 30px;
    line-height: 1.05;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: rem(11);

    span {
        font-family: var(--second-family);
        font-weight: 800;
        font-size: rem(23);
        line-height: 1.15;
        letter-spacing: -0.02em;
        color: #fff;
    }
}

.import__stat-label {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: rem-clamp(14, 16);
    line-height: 1.3;
    color: #fff;
}
