/* News */

.news {
    scroll-margin-top: 2rem;
    margin-bottom: rem-clamp(60, 120);
}

.news__title-wrapper {
    margin-bottom: rem(50);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .title-h2 {
        margin: 0;
    }

    .btn {
        padding: 0px rem(75);
    }
}

.news__list {
    display: flex;
    justify-content: space-between;
    gap: rem-clamp(17, 19);

    @include breakpoint(lg) {
        flex-wrap: wrap;
        justify-content: center;
    }

    .news__item {
        max-width: rem(387);
        width: 100%;

        p:first-of-type {
            margin-bottom: rem(4);

            font-family: var(--font-family);
            font-weight: 400;
            font-size: rem-clamp(14, 16);
            line-height: 1.87;
            color: #333;

            opacity: 0.6;
        }

        p:not(:first-of-type) {
            margin-bottom: rem(15);

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            font-family: var(--font-family);
            font-weight: 500;
            font-size: rem-clamp(16, 18);
            line-height: 1.73;
            color: #1d1d1d;
        }
    }

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: auto;
        border-radius: rem(14);
        image-rendering: crisp-edges;

        &:hover {
            opacity: 0.9;
            transition: opacity 0.2s ease-in;
        }
    }
}
