/* partners */

.partners {
    scroll-margin-top: 2rem;
    margin-bottom: rem-clamp(60, 120);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: rem-clamp(18, 20);
    padding-bottom: rem-clamp(18, 20);
}

.grid-container .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f1f1f1;
    padding: rem-clamp(18, 20);
    text-align: center;
    border: 1px solid #ccc;
    border-radius: rem(5);
    height: rem-clamp(140, 273);
    img {
        display: block;
        max-width: rem(180);
        width: 100%;
        height: auto;
        // height: 100%;
        object-fit: cover;
    }
}

.grid-container--second-row {
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    padding: 0;
    .grid-item {
        height: rem-clamp(120, 254);
    }
}
