.btn {
    display: inline-block;
    padding: 0px toRem(27);

    background-color: var(--e9b902);
    border-radius: toRem(5);
    border: none;
    outline: none;
    cursor: pointer;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1rem;
    line-height: toRem(56);
    text-align: center;
    color: #fff;
    white-space: nowrap;
    user-select: none;

    transition: background-color 0.2s ease-in;
}

.btn:hover {
    background-color: #c09a00;
    // темнее: #c09a00 — более насыщенный и темный оттенок золота.;
    // Светлее: #f7d14a — более светлый и яркий оттенок.
    // Серебристый: #c0c0c0 — создаст контраст с золотым цветом.
    // Коричневый: #a07800 — более теплый и насыщенный коричневый оттенок.
    // Синий: #0073e6 — создаст контраст с желтым цветом.
}
