.btn {
    display: inline-block;
    padding: 0 rem-clamp(22, 28);

    background-color: var(--e9b902);
    border-radius: rem(5);
    border: none;
    outline: none;
    cursor: pointer;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: rem-clamp(14, 16);
    line-height: rem-clamp(36, 56);
    text-align: center;
    color: #fff;
    white-space: nowrap;
    user-select: none;

    transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;

    @include hover-media {
        background-color: #d4a802;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    // &:focus {
    //     outline: 2px solid darkorange;
    //     outline-offset: 2px;
    // }

    &:active {
        background-color: var(--e9b902);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}

.btn.disabled {
    background-color: #c0c0c0;
    pointer-events: none;
    // cursor: not-allowed;
}
