.title-h2 {
    user-select: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem-clamp(32, 50);
    line-height: 1.1;
    color: var(--darken);
    margin-bottom: rem-clamp(32, 50);
}

.title-description {
    user-select: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem-clamp(16, 19);
    line-height: 1.26;
    text-transform: uppercase;
    color: var(--darken-light);
    margin-bottom: rem(15);

    &::before {
        content: "";
        display: inline-block;
        width: rem(4);
        height: rem(4);
        border-radius: rem(2);
        background: var(--darken-light);
        margin-right: rem(14);
        vertical-align: middle;
    }
}
