::-webkit-scrollbar {
    width: rem(10);
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
    border-radius: rem(20);
    background: var(--scroll-thumb-hover-color);
}
