.socials__list {
    display: flex;
    align-items: center;
    gap: rem-clamp(14, 16);

    .socials__link {
        display: flex;
        align-items: center;
        width: rem(20);
        height: rem(20);

        .socials__icon {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.2s ease-in, fill 0.2s ease-in;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.header__socials .socials__icon {
    fill: #888;
    &:hover {
        fill: darken(#888, 10%);
    }
}

.footer__socials .socials__icon {
    fill: #fff;
    &:hover {
        fill: darken(#fff, 10%);
    }
}
