html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.disclaimer {
    background-color: #f8d7da;
    color: #721c24;
    text-align: left;
    padding: 10px;
    font-size: 14px;
}

body {
    font-family: var(--font-family), sans-serif;
    font-style: normal;
    font-weight: 400;

    // background-color: var(--bg-color);
    background-color: #ccc;
}

.container {
    margin: 0 auto;
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
}

.none {
    display: none !important;
}
