html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
    font-family: var(--font-family), sans-serif;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: var(--bg-color);
    // background-color: #ccc;
}

.container {
    margin: 0 auto;
    max-width: rem(1230); // 1230px;
    width: 100%;
    padding: 0 rem(15);
}

.none {
    display: none !important;
}

.disclaimer {
    position: relative;
    margin: 0 auto;
    user-select: none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.4rem 1rem;
    border-radius: 0px 0px 20px 20px;

    font-size: rem-clamp(14, 16); // 14px;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;

    a {
        color: #721c24;
        text-decoration: none;
        // margin-left: 1rem;
    }

    a:hover {
        color: #6a59d1;
        text-decoration: underline;
    }

    .close-btn {
        position: absolute;
        top: rem(10);
        right: rem(10);
        cursor: pointer;
        font-size: 2rem;
        background: none;
        border: none;
        z-index: 10;
    }
}

.img-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;

    img {
        display: block;
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        image-rendering: crisp-edges;
        transition: 0.3s ease-in;

        &:hover {
            opacity: 0.9;
            transform: scale(1.01);
        }
    }
}
