:root {
    --e9b902: #e9b902;
    --darken: #212123;
    --darken-light: #242424;
    --lighten: #fbfbfd;
    --dark-overlay: #1a1a1a;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Nunito", sans-serif;
}
