:root {
    --e9b902: #e9b902;
    --darken: #212123;
    --darken-light: #242424;
    --lighten: #fbfbfd;
    --dark-overlay: #1a1a1a;

    --bg-color: #f8f7f5;
    --bg-overlay: #27333e;

    /*=======Main theme colors=======*/
    --first-color: #0e2431;
    --second-color: #6a59d1;
    --third-color: #777;
    /*=======Scroll bar colors=======*/
    --scroll-bar-color: #c5cadf;
    --scroll-thumb-color: #70768a;
    --scroll-thumb-hover-color: #454f6b;
    /*=======Background colors=======*/
    --modal-bg-color: #fff;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);
    --bg-transparent-color-01: rgba(0, 0, 0, 0.1);
    --bg-transparent-color-02: rgba(106, 89, 209, 0.1);
}

:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Nunito", sans-serif;
}
